.data-list {
  margin-bottom: 3rem;
 .b-date-change{
    width:150px;
    margin: 1rem 0;
  }

}
.data-list_item{
  margin-bottom: 1.5rem;
  .fild-holder {
    margin-top: 1rem;
    max-width:300px;
  }
}
