/* SG
# Buttons/Delete

Desc:button on del

```
<div class="row-only r-wrap">
  <div class="del-btn j-del">remove closest j-deleting</div>
</div>
```
*/
.del-btn {
  will-change:transform;
  width:20px;
  height:20px;
  transform: rotate(45deg);
  display: block;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    transition: none;
    color:$accent-color;
  }
  svg {
    width: 100%;
    height: 100%;
  }
}
