.everage-stat {
  margin-top: -5rem;
  time {
    font-size: 80%;
    display: block;
    margin-top: 0.8rem;
  }
}
.everage-stat_text {
  @include sassline($fontsize: eta, $font: $headingtype, $lineheight: 1.1, $below: 0.5, $breakpoint: all);
}
.everage-stat_text-big {
  font-size: 150%;
  &.__cool {
    color:$ok-color;
  }
  &.__curr{
    color:$accent-color;
  }
}
