html {

}
body {
  margin:0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #010101;
  font-weight: 400;
}
* {
  box-sizing:border-box;
}
a {
  text-decoration:none;
  color:inherit;
}
details {
  font-size: 70%;
}
.u-marg-bot {
  margin-bottom: 2rem;
}
.u-main-wr-full-screen {
  width:100vw;
  height:100vh;
  overflow:hidden;
  @extend .col-only;
}
.u-wraper-not-full {
  width:100%;
  max-width: 1300px;
}
.u-content-wr {
  flex:1;
  overflow:hidden;
}
.u-float-right {
  float:right;
  overflow:hidden;
  padding:5px 5px 20px 20px;
}

.u-center {
  text-align:center;
}
.u-cenetered {
  margin:0 auto;
}

.u-bottom-abs {
  position: absolute;
  bottom: 0;
  width:100%;
}
.u-text-right {
  text-align: right;
}
.u-mg-top {
  margin-top: 2rem;
}
.u-child-mg > * {
  margin-right: 10px;
}

.c-first {
  background-color:$base-first-color;
}
.c-second {
  background-color:$base-second-color;
}
.c-third {
  background-color:$base-third-color;
}
.c-accent {
  background-color:$accent-color;
}
.c-accent-dark {
  background-color:$accent-dark-color;
}
.c-grey-dark {
  background-color:$grey-dark-color;
}
.c-grey-mid {
  background-color:$grey-mid-color;
}
.c-grey-light {
  background-color:$grey-light-color;
}
.c-grey-lightest {
  background-color:$grey-lightest-color;
}
.c-alert {
  background-color:$alert-color;
}
.c-alert-dark {
  background-color:$alert-dark-color;
}
.c-legend-res {
 background-color: $legend-res-color;
}
.c-legend-sale {
 background-color: $legend-sale-color;
}
.g-base-hor {
  background-image: $base-hor-grad;
}
.g-base-vert {
  background-image: $base-vert-grad;
}
.g-light-vert {
  background-image: $light-vert-grad;
}
.g-lightest-vert {
  background-image: $lightest-vert-grad;
}
.g-mid-vert {
  background-image: $mid-vert-grad;
}
.g-dark-top-vert {
  background-image: $dark-top-vert-grad;
}
.g-def-vert {
  background-image: $def-vert-grad;
}
.g-hov-vert {
  background-image: $hov-vert-grad;
}
.hight-prior {
  color:$accent-color;
}
.in-work {
  color:$base-second-color;
}
.alert-color {
  color:$accent-color;
}
