include ../includes/head.pug
body
    | <!--[if lt IE 10]>
    |   <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    | <![endif]-->
    .workstat-conteiner
      block title
      block content
      include ../includes/footer.pug
