div.add-card
  button(class="def-btn row-only r-v-center __plus")
    span.btn-ico
      svg(class="btn-ico __plus")
        use(xlink:href="images/svg/plus.svg#" + iconame)
    span #{btntext}
  <p>#{cardtext}</p>
