div.calendare
  div(class="b-date-change j-calend-contein")
     img(class="el-date-change_img j-open-kalendae", src="images/date.jpg")
     input(type='text', name="order-date", class="j-date-fild j-open-kalendae",  readonly)
     div(class="b-date-picker-holder j-date-picker-holder auto-kal", data-kal="months: 1")
        div(class="b-close j-kalendae-close") X
