div.fild-group
  div.fild-group-title
   h4 Поиск по заявкам
  
  div(class="row-only  inp-row-holder")
   input.fild(type="text", name="order-search", placeholder="Поиск по заявкам")
   button(class="def-btn __mg") Поиск
